* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: var(--backgroundcolor);
  margin: 0;
  min-height: 100vh;
}


  nav {
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
  }
  .nav-left {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .nav-left a, .nav-left p {
    color: white;
    text-decoration: none;
    margin: 0;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .nav-left a:hover {
    color: #ff9800;
  }
  /* Sağ taraftaki sosyal medya */
  .social-links a {
    margin-left: 15px;
    color: white;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
  }
  .social-links a svg {
    width: 20px;
    height: 20px;
    fill: white;
    transition: fill 0.3s;
  }
  .social-links a:hover svg {
    fill: #ff9800;
  }
  /* SVG ikonlar */
  svg {
    width: 18px;
    height: 18px;
  }

.services {
  display: flex;                /* Flexbox aktif */
  flex-direction: row;          /* Yan yana */
  flex-wrap: wrap;               /* Taşarsa alt satıra geç */
  justify-content: space-between;/* Aralar boşluk */
  align-items: stretch;          /* Yükseklik eşit */
  gap: 20px;                     /* Kutular arası boşluk */
  padding: 20px;
  background: #f7f7f7;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: white;
  border-radius: 12px;
  transition: 0.2s;
}

.card:hover {
  outline: 3px solid #f5f5f5e9;
  outline-offset: 3px;
  transform: translateY(-8px);
}

.card p {
  text-align: left;
  margin: 15px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #046aaabe;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  font-size: 16px;
  text-align: center;
  transition: 0.2s;
  user-select: none;
  min-width: 80%;
  margin: 0 0 20px;
}

.button:hover {
  transform: translateY(-4px);
  background-color: #046aaa;
}

.button:focus {
  outline: 2px solid blue;
}

.card > img {
  border-radius: 12px 12px 0 0;
  height: 200px;
}
